#container
{
	margin: 0 30px;
	background: #BEC1C6;
}

#header
{
	background: #a2000a;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #4682B4;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
<<<<<<< HEAD
	background-color: #F6F6D0; 
	-webkit-border-radius: 18px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #a2000a;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
=======
	font-size: medium;
	font-weight : bold;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: url(minions-film.jpg);
>>>>>>> 2a9501fffda68b91fac69c54139461fa2a4e38a5
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	background-color: #F6F6D0;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #a2000a;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#footer
{
	clear: both;
	background: #a2000a;
	text-align: center;
	padding: 20px;
	height: 1%;
}
